{% extends '../base.html' %} 
{% block title %} 
Twitter Clone 
{% endblock title %}
{% block content %} 
<div class="grid grid-cols-12 w-full h-full">
  <div class="col-span-4">
    {% if request.user.is_authenticated  %}
    {% include '../sidebar.html' %} 
    {% endif %}
  </div>
  <div class="col-span-8">
    {% include './main.html' %} 
  </div>
  {% if not request.user.is_authenticated  %}
  <div class="fixed bottom-0 w-full h-16 bg-[#1DA1F2]">
    <div class="grid grid-cols-12 w-full h-full ">
        <div class="col-span-4"></div>
        <div class="col-span-6 flex justify-between p-2">
            <div class="flex flex-col leading-normal space-y-0">
                <span class="text-2xl font-bold">Don't miss what is hapening?</span>
                <span class="text-lg font-thin">People on twitter are the first to know</span>
            </div>
            <div class="self-center">
                <a href="{% url 'login' %}" class="rounded-full border border-slate-50 text-[#fff] font-medium p-2">Login</a>
                <a href="{% url 'signup' %}" class="rounded-full bg-[#fff] text-[#000] font-medium p-2">Sign up</a> 
            </div>
        </div>
        <div class="col-span-2"></div>
    </div>
</div>
  {% endif %}


</div>
{% endblock content %}  
  